
        p{
            margin-left: 35px;
            font-size: 20px;
           
           
        }


        h1{
            margin-left: 25px;
        }
        h2{
          margin-left: 25px;
      }

        h4{
            margin-left: 25px;
        }
        h3{
          margin-left: 25px;
      }
   
        h5{
            margin-left: 25px;
        }
      #muzik{
        float: left;
      }

     

      #kitap{
        float:left;
      }
      
      #eposta{
       
        margin-left: 25px;
      }

      #github{
        margin-left: 25px;
      }

      #loginform{

        text-align: center;
       
      }
      #email{
        margin-right: 20px;
      }
      #giris{
        margin-right: 10px;
      }
      #girisyap{
        text-align: center;
        margin-top: 150px;
        margin-bottom: 40px;
        
      }
      #k-adi{
        margin-left: 240px;
      }
      #k-soyadi{
        margin-left: 215px;
      }

    

      