
        p{
            margin-left: 35px;
           
        }


        h1{
            margin-left: 25px;
        }

        h4{
            margin-left: 25px;
        }
   
        h5{
            margin-left: 25px;
        }
      #muzik{
        float: left;
      }



      #kitap{
        float:left;
      }
      
      #otobiyo{
        font-size: 20px;
      }

      #hobi{
        font-size: 20px;
      }

      #cv{
        font-size: 20px;
      }

      #eposta{
       
        margin-left: 25px;
      }

      #github{
        margin-left: 25px;
      }

      